# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
.env
.venv
*.egg-info/
*.log

# Outputs
outputs/federated/models/
src/checkpoints/
logs/
runs/
visualizations/
checkpoints/

# Datasets
data/
*/data/*
*/dataset/*
*/processed/*

# Model weights
*.npy
*.npz
*.h5
*.mat
*.zip
*.tar
*.gz

# IDEs
.vscode/
.idea/

#onnx

